body{
    font-family: 'Alegreya Sans SC', serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}
header{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.nav_links{
    list-style-type: none;
}
/* Think that the nav links are correct- the color may be wrong though? (step #6) */
.card header{
    display: flex;
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0;
    border-top-right-radius:7px ;
    border-top-left-radius: 7px;
}
/* The em/px here might be incorrect */
.pricing{
    justify-content: center;
    align-items: center;
}
.card{
    flex-basis: 450px;
}
.gallery img{
   
    margin: 10px;
    width: 300px;
    border: solid 10px #50c7c7;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}
#logo{animation-name: logomove;
animation-duration: 5s;}

@keyframes logomove{
    from{width: 50px;
    opacity: 0;}
    to{width:425px;
    opacity: 1;}}
/* Having issues centering content */

/* Need to add keyframes styling here (i.e. step 11) */
@media screen and (min-width: 1000px) {
    body{
        background-image: none;
    }
    .nav_links{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
    }


}
@media screen and (min-width: 850px) { 
 header{
flex-direction: row;
justify-content: space-between;
position: sticky;
align-self: flex-start;
 }
 .nav_links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: flex-end;
 }
 .pricing{
     display: flex;
    flex-basis: 250px;
    flex-direction: row;
 }
}

@media screen and (prefers-reduced-motion: reduce){
    #logo{
        animation-name: none;
    }
}
